<!DOCTYPE html>
<html lang="en" xmlns="http://www.bilibili.com">
<head>
    <meta charset="UTF-8">
    <title>{{gameid}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/awesome-bootstrap-checkbox.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body>
<div class="container-fluid">
    <h1>碰数游戏</h1>
    {% if inf != "" %}
    <h2>{{inf}}</h2>
    <form method="get" action="/">
        <div class="form-group">
            <button type="submit" class="btn btn-default">
                返回首页
            </button>
        </div>
    </form>
    {% endif %}
    <div class="row">
        {% if state3 != "" and False %}
        <div class="col-md-4">
            <table border="1" class="table">
                <tr>
                    <th>你从这个表格移动到下个表格</th>
                    <th>左手</th>
                    <th>右手</th>
                </tr>
                <tr>
                    <td>你</td>
                    <td>{{state3[state3[4]*2]}}</td>
                    <td>{{state3[state3[4]*2+1]}}</td>
                </tr>
                <tr>
                    <td>对手</td>
                    <td>{{state3[(1-state3[4])*2]}}</td>
                    <td>{{state3[(1-state3[4])*2+1]}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% if state2 != "" %}
        <div class="col-md-4">
            <table border="1" class="table">
                <tr>
                    <th>电脑从这个表格移动到下个表格</th>
                    <th>左手</th>
                    <th>右手</th>
                </tr>
                <tr>
                    <td>你</td>
                    <td>{{state2[state[4]*2]}}</td>
                    <td>{{state2[state[4]*2+1]}}</td>
                </tr>
                <tr>
                    <td>对手</td>
                    <td>{{state2[(1-state[4])*2]}}</td>
                    <td>{{state2[(1-state[4])*2+1]}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        <div class="col-md-4">
            <table border="1" class="table">
                <tr>
                    <th>现在该你从这里动</th>
                    <th>左手</th>
                    <th>右手</th>
                </tr>
                <tr>
                    <td>你</td>
                    <td>{{state[state[4]*2]}}</td>
                    <td>{{state[state[4]*2+1]}}</td>
                </tr>
                <tr>
                    <td>对手</td>
                    <td>{{state[(1-state[4])*2]}}</td>
                    <td>{{state[(1-state[4])*2+1]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <form method="get" action="/getaction">
        <div class="form-group">
            <input type="hidden" value="{{gameid}}" name="gameid">
            <input type="hidden" value="{{state}}" name="state">
            <h5>你用</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio radio-danger">
                        <input id="op00" type="radio" value="0" name="op"
                               {% if check[0][0] %} checked {% endif %} {% if not(able[0][0]) %} disabled {% endif %}>
                        <label for="op00">
                            左手碰对方左手
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio radio-danger">
                        <input id="op01" type="radio" value="1" name="op"
                               {% if check[0][1] %} checked {% endif %} {% if not(able[0][1]) %} disabled {% endif %}>
                        <label for="op01">
                            左手碰对方右手
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="radio radio-danger">
                        <input id="op10" type="radio" value="2" name="op"
                               {% if check[1][0] %} checked {% endif %} {% if not(able[1][0]) %} disabled {% endif %}>
                        <label for="op10">
                            右手碰对方左手
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio radio-danger">
                        <input id="op11" type="radio" value="3" name="op"
                               {% if check[1][1] %} checked {% endif %} {% if not(able[1][1]) %} disabled {% endif %}>
                        <label for="op11">
                            右手碰对方右手
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" {% if not(action_able) %} disabled {% endif %}>
                碰！
            </button>

        </div>
    </form>

    <form method="get">
        <div class="form-group">
            <input type="hidden" value="{{gameid}}" name="gameid">
            <input type="hidden" value="1" name="pingju">
            {% if mod==1 %}
            <button type="submit" class="btn btn-primary" {% if not(action_able) %} disabled {% endif %}>
                平局了
            </button>
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>