<!DOCTYPE html>
<html lang="en" xmlns="http://www.bilibili.com">
<head>
    <meta charset="UTF-8">
    <title>碰数游戏</title>
</head>
<body>
<h1>碰数游戏</h1>
<font size="18">
    <form method="get">
        <label><input id="fb0" type="radio" value="0" name="fb" style="width: 50px;height: 50px" checked>先手</label>
        <label><input id="fb1" type="radio" value="1" name="fb" style="width: 50px;height: 50px">后手 <br></label>
        <br> 你想要挑战的选手 <br>
        <label><input id="method0" type="radio" value="smart" name="method" style="width: 50px;height: 50px" checked>聪明策略 Smart</label> <br>
        <label><input id="method1" type="radio" value="random" name="method" style="width: 50px;height: 50px">随机策略 Random</label> <br>
        <label><input id="method2" type="radio" value="max" name="method" style="width: 50px;height: 50px">最大策略 Max</label> <br>
        <label><input id="method3" type="radio" value="option" name="method" style="width: 50px;height: 50px">优先级策略 Optional</label> <br>
        <label><input id="method4" type="radio" value="mcts" name="method" style="width: 50px;height: 50px">搜索策略 MCTS</label> <br>
        <br> 游戏模式 <br>
        <label><input id="mod1" type="radio" value="1" name="mod" style="width: 50px;height: 50px" checked>可以出现重复状态的模式</label> <br>
        <label><input id="mod2" type="radio" value="2" name="mod" style="width: 50px;height: 50px">无重复状态模式</label> <br>
        <br>
        <input type="submit" value="开打" style="width: 100px;height: 60px">
    </form>
</font>
</body>
</html>
